* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #fff;
}

.main {
  padding: 20px 6%;
  height: 100vh;
}

.info {
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.info .navbar {
  display: flex;
  align-items: center;
}

.info .navbar .brand {
  display: flex;
  align-items: center;
  border-right: 2px solid rgb(181, 179, 179);
}

.info .brand .logo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.info .navbar .brand h1 {
  padding: 0 15px;
}

.info ul {
  display: flex;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: 0.4s ease;
}

ul li a:hover {
  color: #b4b1b1;
}

.Sign {
  justify-content: space-between;
}

.Sign .img {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  background-color: yellow;
  border: none;
  cursor: pointer;
}

.Sign .login {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  color: #fff;
  background-color: black;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.4s ease;
}

.Sign .login:hover {
  background-color: yellow;
  color: #000;
}

.trade {
  margin-top: 60px;
}

.trade h1 {
  font-size: 50px;
  font-weight: bolder;
}

.trade p {
  margin-top: 40px;
  font-size: 25px;
  line-height: 33px;
}

.smart {
  margin-top: 40px;
}

.smart .solution {
  width: 100px;
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  background-color: yellow;
  cursor: pointer;
  margin-right: 10px;
}

.smart .contact {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  margin-top: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s ease;
}

.smart .contact:hover {
  background-color: yellow;
}

.images {
  margin-top: -300px;
  position: absolute;
}

.clay {
  width: 240px;
  height: 300px;
  margin-left: 520px;
  margin-top: -200%;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.istockphoto {
  width: 240px;
  margin-left: 520px;
  margin-top: -700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.istockphoto2 {
  width: 240px;
  height: 160px;
  margin-left: 770.5px;
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.john {
  width: 240px;
  height: 300px;
  margin-left: 770.5px;
  margin-top: -2700px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#id {
  margin-top: -191px;
}
